'Unknown Organization'
.zcompdump
.zshenv
.zshrc
GIMP
Proton
QtProject.conf
btop
cef_user_data
dconf
discord
environment.d
fastfetch
fontconfig
git
glib-2.0
gtk-2.0
gtk-3.0
gtk-4.0
htop
hypr
ibus
inkscape
kglobalshortcutsrc
kitty
mako
mimeapps.list
nvim
pavucontrol.ini
protonvpn
pulse
qutebrowser
rofi
sops
starship.toml
stylix
swaylock
systemd
tmux
user-dirs.conf
user-dirs.dirs
vesktop
vifm
waybar
zathura
zoom.conf
zoomus.conf