.zcompdump
.zshenv
.zshrc
btop
cef_user_data
dconf
discord
environment.d
fastfetch
fontconfig
GIMP
git
glib-2.0
gtk-2.0
gtk-3.0
gtk-4.0
htop
hypr
ibus
inkscape
kglobalshortcutsrc
kitty
mako
mimeapps.list
nvim
pavucontrol.ini
Proton
protonvpn
pulse
QtProject.conf
qutebrowser
rofi
starship.toml
swaylock
systemd
tmux
'Unknown Organization'
user-dirs.conf
user-dirs.dirs
vifm
waybar
zathura
zoom.conf
zoomus.conf
